<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="redirect to scheduler" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^192.168.0.19$" />
						<add input="{HTTPS}" pattern="on" />
					</conditions>
					<action type="Redirect" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
